In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://www.smh.com.au/interactive/data-store/feeds/coronavirus/vaccinations/global/vaccinations.csv?v=1613994583552')

In [14]:
df

,iso_code,location,population,date,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,target_date
0,AFG,Afghanistan,38928341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,Albania,2877800,2021-02-19T00:00:00.000Z,Pfizer/BioNTech,4177.0,NaN,NaN,405.0,0.15,NaN,NaN,141.0,Mar 2210
2,DZA,Algeria,43851043,2021-02-19T00:00:00.000Z,Sputnik V,75000.0,NaN,NaN,3748.0,0.17,NaN,NaN,85.0,NaN
3,ASM,American Samoa,55197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AND,Andorra,77265,2021-02-19T00:00:00.000Z,Pfizer/BioNTech,2141.0,2141.0,NaN,74.0,2.77,2.77,NaN,958.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,YEM,Yemen,29825968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,ZMB,Zambia,18383956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,ZWE,Zimbabwe,14862927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,GGY,Guernsey,67052,2021-02-14T00:00:00.000Z,Pfizer/BioNTech,19284.0,13950.0,5334.0,593.0,28.76,20.80,7.96,8844.0,NaN
241,JEY,Jersey,101073,2021-02-14T00:00:00.000Z,"Oxford/AstraZeneca, Pfizer/BioNTech",25952.0,22696.0,3256.0,706.0,25.68,22.46,3.22,6985.0,NaN

In [16]:
df.shape

(242, 14)

In [11]:
df2 = pd.read_csv('https://www.smh.com.au/interactive/2021/coronavirus/vaccine-tracker/countries.csv')

In [13]:
df2.head()

  iso_code         country       lat        long
0      AFG     Afghanistan  33.93911   67.709953
1      ALA   Åland Islands  60.17850   19.915600
2      ALB         Albania  41.15330   20.168300
3      DZA         Algeria  28.03390    1.659600
4      ASM  American Samoa -14.27100  170.132200