In [2]:
# Import necessary packages

import pandas as pd

In [8]:
# Reading data and storing in pandas dataframe

df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')
print('dataframe has: {} rows'.format(df.shape[0]))

dataframe has: 79880 rows

In [6]:
# Selecting a subset of data corresponding to the location Uruguay

uy = df[df["location"] == "Uruguay"]
# Printing first 5 rows
uy.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76157,URY,South America,Uruguay,2020-03-13,4.0,4.0,NaN,NaN,NaN,NaN,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76158,URY,South America,Uruguay,2020-03-14,6.0,2.0,NaN,NaN,NaN,NaN,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76159,URY,South America,Uruguay,2020-03-15,8.0,2.0,NaN,NaN,NaN,NaN,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76160,URY,South America,Uruguay,2020-03-16,29.0,21.0,NaN,NaN,NaN,NaN,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76161,URY,South America,Uruguay,2020-03-17,50.0,21.0,NaN,NaN,NaN,NaN,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817

In [9]:
# How many rows has the new dataframe?
print('dataframe has: {} rows'.format(uy.shape[0]))

dataframe has: 390 rows

In [10]:
# Display
uy.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76542,URY,South America,Uruguay,2021-04-02,111568.0,3380.0,2746.429,1041.0,32.0,23.714,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76543,URY,South America,Uruguay,2021-04-03,113904.0,2336.0,2660.857,1071.0,30.0,24.286,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76544,URY,South America,Uruguay,2021-04-04,117757.0,3853.0,2907.286,1101.0,30.0,26.571,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76545,URY,South America,Uruguay,2021-04-05,119958.0,2201.0,2910.571,1146.0,45.0,31.143,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
76546,URY,South America,Uruguay,2021-04-06,123063.0,3105.0,2943.143,1191.0,45.0,34.000,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817